Repository TeliaSoneraNorge/telia-terraform-modules, changes with the owners that CODEOWNERS names for each.
All owners: @TeliaSoneraNorge/devops, @itsdalmo, @colincoleman, @johanssonanton, @antonbabenko, @mhd999, @larstobi, @glennbech, @nazartm

Partialy removed lambda magix
  ecs/cluster/main.tf
Owners: @TeliaSoneraNorge/devops

Changed variable name and fixed formatting
  iam/developer/role.tf
Owners: @TeliaSoneraNorge/devops

Add instance_count_max variable.
  concourse/atc/main.tf
  concourse/atc/variables.tf
  concourse/worker/main.tf
  concourse/worker/variables.tf
Owners: @TeliaSoneraNorge/devops

Add join on uknown value if VPC is used
  ecs/cluster/main.tf
  rds-instance-full/main.tf
Owners: @TeliaSoneraNorge/devops, @antonbabenko

Fixed incorrect variable names for trusted_accounts_size
  iam/role/role.tf
Owners: @TeliaSoneraNorge/devops

Indentifiers needs to be a list
  iam/role/role.tf
Owners: @TeliaSoneraNorge/devops

lint
  splunk-ingestable-s3-bucket/example/main.tf
  splunk-ingestable-s3-bucket/main.tf
Owners: @TeliaSoneraNorge/devops

Refactored to ec2/spot-request and ecs/spotfleet
  ec2/spot-request/README.md
  ec2/spot-request/example/example.tf
  ec2/spot-request/main.tf
  ec2/spot-request/outputs.tf
  ec2/spot-request/spotrequest-builder/build-spotrequest.sh
  ec2/spot-request/spotrequest-builder/launch_specification.template
  ec2/spot-request/spotrequest-builder/small.csv
  ec2/spot-request/spotrequest-builder/spotfleet-head.template
  ec2/spot-request/spotrequest.tf
  ec2/spot-request/variables.tf
  ecs/spotfleet/example/main.tf
  ecs/spotfleet/main.tf
  ecs/spotfleet/spotrequest-builder/launch_specification.template
  ecs/spotfleet/spotrequest.tf
  ecs/spotfleet/variables.tf
Owners: @TeliaSoneraNorge/devops

add copy of cloud-config.yml from cluster to spotfleet - can't reference into another module
  ecs/spotfleet/cloud-config.yml
  ecs/spotfleet/main.tf
  ecs/spotfleet/user_data.sh
Owners: @TeliaSoneraNorge/devops

fix path to template file
  ecs/spotfleet/main.tf
Owners: @TeliaSoneraNorge/devops

fix path to template again
  ecs/spotfleet/main.tf
Owners: @TeliaSoneraNorge/devops

Added install_package parameter to install a package in cloud-init.
  bastion/bastion.tf
  bastion/cloud-config.yml
Owners: @itsdalmo

Fix var name.
  bastion/bastion.tf
Owners: @itsdalmo

Fix list format.
  bastion/bastion.tf
Owners: @itsdalmo

add spotfleet to ecs tests update pipeline to include latest tests
  .ci/pipeline.yml
  ecs/example/main.tf
  ecs/spotfleet/example/main.tf
  ecs/spotfleet/example/variables.tf
Owners: @itsdalmo, @colincoleman, @TeliaSoneraNorge/devops

Added Condition: bucket-owner-full-control, for the bucket based on feedback
  splunk-ingestable-s3-bucket/main.tf
Owners: @TeliaSoneraNorge/devops

Merging string compares
  splunk-ingestable-s3-bucket/main.tf
Owners: @TeliaSoneraNorge/devops

removed trailing comma
  splunk-ingestable-s3-bucket/main.tf
Owners: @TeliaSoneraNorge/devops

CODEOWNERS:

# Default to devops group. Unless we have a more specific match.
*       @TeliaSoneraNorge/devops

# .ci
.ci/*   @itsdalmo @colincoleman

# acm
acm/*   @johanssonanton @itsdalmo

# alb
alb/*   @antonbabenko

# apigateway/lambda
apigateway/* @itsdalmo

# bastion
bastion/* @itsdalmo

# bin
bin/* @itsdalmo

# cloudtrail-forwarder
cloudtrail-forwarder/* @antonbabenko

# cloudtrail-processor
cloudtrail-processor/* @antonbabenko

# cloudtrail
cloudtrail/* @itsdalmo

# concourse
concourse/* @itsdalmo

# dynamodb-table
dynamodb/* @mhd999 @antonbabenko

# ec2
ec2/* @itsdalmo

# ecr-machine-role
ecr-machine-role/* @larstobi

# ecr
ecr/* @larstobi

# ecs
ecs/* @itsdalmo @glennbech

# elasticache
elasticache/* @larstobi

# empty
empty/* @antonbabenko

# iam-assumable-roles
iam-assumable-roles/* @antonbabenko

# iam-user
iam-user/* @antonbabenko

# iam
iam/* @itsdalmo

# kms
kms/* @itsdalmo

# lambda
lambda/* @itsdalmo

# rds-instance-full
rds-instance-full/* @antonbabenko

# rds-simple
rds-simple/* @itsdalmo @larstobi

# route53-zones
route53-zones/* @antonbabenko

# service-role
service-role/* @nazartm @antonbabenko

# share-states-bucket
share-states-bucket/* @antonbabenko

# sqs
sqs/* @antonbabenko

# ssm
ssm/* @itsdalmo

# terraform
terraform/* @itsdalmo

# waf
waf/* @antonbabenko

# module for forwarding CW logs to S3
cloudwatch-logs-s3-forwarder/* @glennbech
